<div class="container">
    <div class="page-header">
        <a class="pull-right btn btn-primary" ng-click="addDashboard()"><fa icon="plus" animation="pulse" parent="true"></fa> Add Dashboard</a>
        <a class="pull-right btn btn-primary" ng-click="addPage()" ng-if="dashboard"><fa icon="plus" animation="pulse" parent="true"></fa> Add Page</a>
        <a class="pull-right btn btn-primary" ng-click="addWidget()" ng-if="page"><fa icon="plus" animation="pulse" parent="true"></fa> Add Widget</a>
        <a class="pull-right btn btn-warning" ng-click="clear()"  ng-if="page.widgets"><i class="glyphicon glyphicon-trash"></i> Clear</a>
        <h1 ng-if="dashboard==undefined"> &nbsp;</h1>
        <h1 style="display: inline-block; width: 200px;" ng-if="dashboard">Dashboard {{dashboard.name}}</h1>
        <h4 style="display: inline-block; width: 200px;" ng-if="page">Page {{page.name}}</h4>
        <select class="form-control" style="width: 150px; margin-bottom: 20px; display:inline-block;" ng-if="dashboards.length>1" ng-change="changeDashboard(selectedDashboardId)" ng-model="selectedDashboardId" ng-options="d.id as d.name for d in dashboards  | orderBy:'name' track by d.id"></select>
        <select class="form-control" style="width: 150px; margin-bottom: 20px; display:inline-block;" ng-if="dashboard.pages.length>1" ng-change="changePage(selectedPageId)" ng-model="selectedPageId" ng-options="d.id as d.name for d in dashboard.pages | orderBy:'name' track by d.id"></select>
    </div>
    <div gridster="gridsterOptions" ng-if="page.widgets">
        <ul>
            <li gridster-item="widget" ng-repeat="widget in page.widgets">
                <widget content="widget.initializationData"></widget>
            </li>
        </ul>
    </div>
    <div>{{dashboard}}</div>
</div>